{% if site.data.navigation %}
  <div class=m--nav>
    <div>
      {% for item in site.data.navigation %}
      {% if item.title %}
      <a class="{% if page.name == 'blog.md' %}active{% endif %}" href="{{item.url}}">{{item.title}} ↓ </a>
      {% endif %}
      {% endfor %}
    </div>
    <div>
      {% for item in site.data.navigation %}
      {% if item.src %}
      <a href="{{item.url}}" target='_blank'><img class="m--icon" src='{{item.src}}'/> </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}